* {
  padding: 0;
  margin: 0;
}

body, html {
 height: 100%;
 padding: 0;
 font-family: "Quicksand", sans-serif !important;
}

h1 {
  color: rgba(255,255,255, 0.8);
  margin-bottom: 20px;
}

h2 {
  font-family: 'Lato';
  color: black;
  text-align: center;
  padding-top: 20px;
}

hr {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

h5 {
  font-family: 'Lato';
  color: rgba(255,255,255, 0.8);
}

a {
  text-decoration: none;
}

p.footer {
  color: white;
}

.nav {
    padding: 15px 15px;
}

.nav ul {
    list-style-type: none;
    margin-right: 50px;
    float: right;
    font-family: 'Lato';
    margin-top: 1%;
}


.nav ul li {
    display: inline;
    font-size: 20px;
    padding: 0px 15px;
    color: #4099ff;
}

.nav ul li a {
    text-decoration: none;
    color: inherit;
}

.nav-logo {
    margin-left: 30px;
    width: 180px;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

div.header {
    background: url(../image/header-compressor.jpg) no-repeat center center fixed;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -ms-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100%;
    display: inline-block;
    height: 100%;
}

.text-center {
    text-align: center;
}

.about {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#header-text {
    padding: 190px;
    opacity: 1;
}

#credit {
  color: white;
}

.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

footer {
    width: 100%;
    margin-top: 100px;
    padding: 100px 0;
    background: #3b3b3b;
    overflow: hidden;
    text-align: center;
}

footer section {
    display: block;
    width: 230px;
    margin-right: 60px;
    float: left;
}

footer section:last-child{
    margin-right: 0;
}

footer .adress{
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    letter-spacing: 1px;
}

footer .footer_nav ul{
    list-style: none;
}

footer .footer_nav ul li{
    display: block;
    margin-bottom: 18px;
}

footer .footer_nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 3px;
    border-bottom: 1px solid #3b3b3b;
}

footer .footer_nav ul li a:hover{
    border-bottom: 2px solid #FFF;
}

footer .copyrights p{
    color: #ebebeb;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 32px;
    letter-spacing: 1px;
}

footer .copyrights p a{
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
